{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe
{% endblock %}

{% block content %}

	<h1 class="mt-4">Modification mot de passe</h1>
	<a href="{{path('app_account')}}">Retour au compte</a><br>
	<hr>

	{{ form_start(form) }}
	{{form_row(form.firstName)}}
	{{form_row(form.lastName)}}
	{{form_row(form.email)}}
	{{form_row(form.oldPassword)}}
	{{form_row(form.newPassword)}}
	{{form_row(form.confirmNewPassword)}}
	{{ form_end(form) }}


{% endblock %}
