{% extends 'base.html.twig' %}

{% block title %}Paiement de la commande
{% endblock %}

{% block content %}
	<h1>Récapitulatif de la commande</h1>
	<p>Vérifier votre commande avant de payer
	</p>
	<hr>
	<div class="row">

		<div class="col-md-6">
    <strong>Adresse de livraison</strong><br>
    {{order.delivery.name}}<br>
    {{order.delivery.address}}<br>
    {{order.delivery.zipCode}} - {{order.delivery.country}}
    <br><br>
<strong>Transporteur</strong><br>
{{order.carrier.name}} - {{(order.carrier.price)/100 | number_format(2)}} €<br><br>
		</div>

		<div class="col-md-6">
{% set total = 0 %}


			{% for product in tabProducts %}
 {% set total = total + product.product[0].price*product.quantity %}
				<div class="row mt-3">
					<div class="col-2">
						<img src="/uploads/images/{{product.product[0].illustration}}" class="img-fluid" alt="">
					</div>
                   
					<div class="col-4">
						{{product.product[0].name}}
					</div>
                    	
					<div class="col-2">
						{{product.quantity}}
					</div>
                     <div class="col-4">
						{{(product.product[0].price/100) | number_format(2)}} €
					</div>
				</div>
			{% endfor %}

<div class="text-end"><b>Nombre de produits: {{tabProducts|length}} </b><br>
<b>Total du panier: {{(total/100)|number_format(2)}} €</b>
</div>

<a href="{{checkoutSession}}" class="btn btn-success col-12 mt-3">Payer {{(total/100)|number_format(2)}} €</a>
		</div>


	</div>



{% endblock %}
